html
{
	font-size: 10px;
	height: 100%;
	display: block;
	box-sizing: border-box;
	text-decoration: none;
}

body
{
	background-color: #fff;
	margin: 0px;
    padding: 0px;
}

#page
{
	margin: 0px auto;
    background: transparent;
    padding: 0px;
    height: 100%;
    overflow: visible;

	height: 100%;
	width: 100%;
}

header
{
	z-index: 998;
	display: block;
    min-height: 1px;
    width: 20%;
    margin-left: 0px;
    padding-left: 0px;
    overflow: hidden;
    background-color: transparent;
    height: 100%;
    position: fixed;
	box-shadow: 6px 2px 5px -3px rgba(0,0,0,0.57);
	-webkit-box-shadow: 6px 2px 5px -3px rgba(0,0,0,0.57);
	-moz-box-shadow: 6px 2px 5px -3px rgba(0,0,0,0.57);
}

#header-wrap
{
	background-color: transparent;
	color: red;
	text-decoration: none;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.site-branding
{
	margin-top: 50px;
}

.menu
{
	display: block;
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

#menu-item
{
	width: 100%;
	height: 50px;
	display: block;
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 0px;
    margin-top: -1px;
    line-height: 4.75em;
}

#menu-item:after
{
	z-index: 999;
	background-color: #4000FF;
	transform: rotate(45deg);
    width: 40px;
    height: 42px;
    content: " ";
    display: block;
    margin-left: 9.4%;
    margin-top: -3.14%;
    border-radius: 10px;
    position: fixed;
    visibility: hidden;
}

.visibleMenuItem
{
	width: 100%;
	height: 50px;
	display: block;
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 0px;
    margin-top: -1px;
    line-height: 4.75em;
}

.visibleMenuItem:after
{
	z-index: 999;
	background-color: #4000FF;
	transform: rotate(45deg);
    width: 40px;
    height: 40px;
    content: " ";
    display: block;
    margin-left: 12.4%;
    margin-top: -3.20%;
    border-radius: 10px;
    position: fixed;
    visibility: visible;
}

#menuLink
{
	display: block;
	font-size: 18px;
	text-decoration: none;
	width: 100%;
	color: grey;
	border-bottom: solid 1px grey;
}

#main
{
	width: 100%;
	height: 100%;
}

#content
{
	z-index: 0
	position: relative;
    min-height: 1px;
    height: 100%;
    width: 80%;
    float: right;
    padding: 0;
}

.blockIMGSlide
{
	width: 100%;
	height: 100%;
}

.imgSlide
{
	width: 100%;
	height: 100%;
}

.infoBlock
{
	display: flex;
    justify-content: space-between;
}